{% extends 'base.html' %}

{% block content %}
<h1>Gestión de Personas</h1>

<div class="row text-center">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'person-create' %}">Crear Persona</a>
    </div>
</div>

<div class="row">
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cumple</th>
            <th scope="col">Esta Activo?</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.firstname }}</td>
            <td>{{ person.lastname }}</td>
            <td>{{ person.birth }}</td>

            {% if person.is_active %}
            <td class="text-success">SI</td>
            {% else %}
            <td class="text-danger">NO</td>
            {% endif %}

            <td>
                <a href="{% url 'person-update' person.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'person-delete' person.id %}" class="btn btn-danger">Eliminar</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr />

<div class="row mt-3">
    <div class="col-8">
        <a class="btn btn-primary" href="{% url 'employee-create' %}">Crear Empleado</a>
    </div>

    <div class="col">
        <form action="#" method="post">
            {% csrf_token %}

            <div class="input-group">
                <input class="input-group-text" type="text" name="query" id="query" />
            </div>

            <input type="submit" class="btn {{ action }}" value="{{ submit }}">
        </form>
    </div>
</div>

<div class="row">
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">Salario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Seniority</th>
            <th scope="col">Activo</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for e in employees %}
        <tr>
            <td>{{ e.salary }}</td>
            <td>{{ e.person.firstname }}</td>
            <td>{{ e.get_seniority_display }}</td>
            {% if e.person.is_active %}
            <td class="text-success">Si</td>
            {% else %}
            <td class="text-danger">No</td>
            {% endif %}
            <td>
                <a href="{% url 'person-update' e.person.id %}" class="btn btn-warning">Modificar</a>
                <a href="{% url 'employee-delete' e.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
